body {
  font-family: 'Montserrat', sans-serif; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5em;
}

.responsive-svg-container {
  float: left;
  margin-right: auto;
  margin-left: 100px;
  width: 100%;
  max-width: 700px;
}

.country {
  display: inline-block; 
  width: 10%; 
  margin: 4%; 
  text-align: center; 
  box-sizing: border-box;
}

.country-circle {
  display: block; 
  width: 100%; 
  padding-bottom: 100%; /* Keeps aspect ratio of circle */
  border-radius: 50%; /* Make the circles round */
  background-size: cover; /* Ensure the flag covers the circle */
  background-position: center; 
  box-sizing: border-box; 
  border: 1px solid #ddd; 
  transition: transform 0.3s ease-in-out; /* Add transition effect */
  cursor: default; /* Change cursor to default */
}

.country-circle:hover {
  animation: floatAnimation 0.8s ease-in-out infinite; /* Apply the floating animation on hover */
  transform: sclae(1.2); /* Increase the size of the circle on hover */
  cursor: pointer; /* Change cursor to pointer */
}

/* Keyframes for floating animation */
@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.2);
  }
}

.country-name {
  margin-top: 5px; 
  font-size: 1em; 
  color: #000; 
  white-space: nowrap; /* Prevent the name from wrapping */
}

#eu-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; 
  height: auto; 
  z-index: 10; /* Ensure the image stays on top of other elements */
}

#tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font-size: 1em;
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  pointer-events: none; /* Ignore pointer events */
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s;
  border-radius: 4px;
  z-index: 20; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 220px;
  padding: 10px;
}

.tooltip-info {
  margin-top: 5px; 
}

.radar-line {
  stroke-width: 1px;
  stroke: #000;
  fill: none;
}

.grid-circle {
  stroke-width: 1px;
  stroke: #616161;
  fill: none;
  stroke-opacity: 0.5;
}

.axis {
  stroke-width: 1px;
  stroke: #616161;
  fill: none;
  stroke-opacity: 0.5;
}

.axis-label {
  font-size: 0.8em;
  stroke: none;
}