body {
  font-family: 'Montserrat', sans-serif; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5em;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: 100px;
  width: 100%;
  max-width: auto;
  display: flex;
  flex-wrap: wrap;
}

.country {
  opacity: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5%; 
  margin: 4%; 
  text-align: center; 
  box-sizing: border-box;
  font-size: 0.8em;
  animation: spreadFlags 0.5s ease-out forwards;
}

.country-circle {
  display: block; 
  width: 100%; 
  padding-bottom: 100%; /* Keeps aspect ratio of circle */
  border-radius: 50%; /* Make the circles round */
  background-size: cover; /* Ensure the flag covers the circle */
  background-position: center; 
  box-sizing: border-box; 
  border: 1px solid #ddd; 
  transition: transform 0.3s ease-in-out; /* Add transition effect */
  cursor: default; /* Change cursor to default */
}

.country-circle:hover {
  animation: floatAnimation 0.8s ease-in-out infinite; /* Apply the floating animation on hover */
  /* transform: scale(1.2); Increase the size of the circle on hover */
  cursor: pointer; /* Change cursor to pointer */
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.2);
  }
}

.country-name {
  margin-top: 5px; 
  font-size: 1em; 
  color: #000; 
  white-space: nowrap; /* Prevent the name from wrapping */
}

#eu-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; 
  height: auto; 
}

#tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font-size: 1em;
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  pointer-events: none; /* Ignore pointer events */
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s;
  border-radius: 4px;
  z-index: 20; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 220px;
  padding: 10px;
}

.tooltip-info {
  margin-top: 5px; 
}

.radar-line {
  stroke-width: 1px;
  stroke: #000;
  fill: none;
}

.grid-circle {
  stroke-width: 1px;
  stroke: #616161;
  fill: none;
  stroke-opacity: 0.5;
}

.axis {
  stroke-width: 1px;
  stroke: #616161;
  fill: none;
  stroke-opacity: 0.5;
}

.axis-label {
  font-size: 0.8em;
  stroke: none;
}

/* .main-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
} */

/* .left-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 30%;
  height: 100%;
} */

.text-box {
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: space-around; 
  align-items: flex-start;
  padding-left: 90px; 
}

.text-paragraph {
  flex: 1;
  margin: 0 5px; /* Margin on the left and right of each paragraph */
  font-size: 0.7em;
}

#filter-box {
  width:100%;
  height: 450px; 
  margin: 100px 0px 20px 0;
  background-color: #f2f2f2; 
  border: 1px solid #04339c; 
  border-radius: 5px; /* Rounded corners */
  padding: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for aesthetics */
  display: flex;
  flex-direction: column;
}

.filter-header {
  display: flex;
  align-items: center;
}

.filter-icon {
  width: 12px; 
  height: 12px; 
  margin-right: 8px; /* Space between icon and text */
}

.filter-text {
  font-weight: bold;
  font-size: 1em;
}

.filter-title {
  font-weight: bold;
  font-size: 0.8em;
}

@keyframes spreadFlags {
  from {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.range-slider {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

#slider-track-salary {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #ddd;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

#slider-track-rent {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #ddd;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px; /* Match the height of the track */
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none; /* Disable pointer events on the slider background */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; 
  height: 20px; 
  background: #04339c;
  cursor: pointer;
  position: relative;
  z-index: 3;
  pointer-events: all; /* Enable pointer events on the slider thumb */
  border-radius: 0; /* Make it a bar shape */
}

.slider::-moz-range-thumb {
  background: #04339c;
  cursor: pointer;
  pointer-events: all;
  border-radius: 0; /* Make it a bar shape */
}

.salary-range-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.salary-input {
    width: 60px; 
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.grey-filter .country-circle {
  filter: grayscale(100%);
}

.apply-filter-button {
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #04339c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; 
}

.apply-filter-button:hover {
  background-color: #032a70;
}

.grid-scale {
  fill: #616161; 
  font-size: 0.65em;
}

/* Style for the SVG container */
.svg-container {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed position to cover the whole screen */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	z-index: 10; /* Higher than other content */
	justify-content: center;
	align-items: center;
}

.svg-content {
	width: 100%; /* Or as needed */
	height: 100%; /* Or as needed */
	background: rgb(246, 251, 255); /* For visibility */
	border-radius: 8px; /* Optional: for styled corners */
	padding: 20px;
	position: relative; /* For absolute positioning of the close button */
}

.close-svg-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
	color: rgb(0, 0, 0); /* Or any color you prefer */
	cursor: pointer;
	font-size: 1.5em; /* Or as needed */
}
